*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* .paent{
    transition: all ease 0.5s;
} */

body{
background-color: black;

}
.design{

    border: 2px solid white;
    height: 20px;
    width: 50px;
    border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.child{
    position: absolute;
background-color: skyblue;
height: 15px;
width: 15px;
border-radius: 50%;
left: 0%;
transition: all ease 0.6s;
}